* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}
body {
  background: #fff;
  line-height: 1.6;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: maroon;
  
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: black;
}
.about {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}
